/* FONTES E VARIAVEIS */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

:root {
    --secondary-color: #F0C419;
}

/* ESTILOS COMUNS */

button,
input,
optgroup,
select,
textarea {
    font-family: Roboto;
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
    font-weight: 300;
}

body {
    margin: 0; 
    padding: 0;
    font-family: Roboto;
    font-style: normal;
    font-size: 5vw;
    overflow-x: hidden;
}

/* ANIMATIONS */ 

@keyframes show-overlay {
    0%   {left: 100%;}
    100% {left: 0;}
}


@keyframes hide-overlay {
    0%   {left: 0;}
    100% {left: 100%;}
}

@keyframes show-overlay-desktop {
    0%   {left: 100%;}
    100% {left: 65%;}
}


@keyframes hide-overlay-desktop {
    0%   {left: 65%;}
    100% {left: 100%;}
}

.overlay-in {
    animation-name: show-overlay;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.overlay-out {
    animation-name: hide-overlay;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

/* MOBILE */

header {
    display: grid;
    margin: 1vw 2vw 2vw 2vw;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    color: black;
}

header > a {
    color: black;
    text-decoration: none;
    grid-column-start: 13;
    grid-column-end: 13;
}

header > img {
    width: 25vw;
    max-height: 100%;
}

#content {
    display: flex; 
    flex-flow: column nowrap;
    align-items: center;
}

#overlay {
    display: none;
    position: fixed; 
    width: 100%;
    height: 100%;
    margin-top: -1%;
    z-index: 2;
    background-color: white;
}

#overlay > form {
    display: flex;
    flex-flow: wrap column;
    font-size: 100%;
    margin: 0% 10% 0% 10%;
}

#overlay > form > input {
    border: 0; 
    border-bottom: 2px solid black;
}

#overlay > form > span{
    margin-top: 10%;
}

#overlay > form > span:nth-child(1) {
    margin-top: 30%;
}

#overlay > form > span:nth-child(5){
    text-align: end;
    margin-top: 3%;
    font-size: 80%;
}

#overlay > form > button {
    align-self: center;
    margin-top: 12.5%;
    border: 0; 

    padding: 1% 10% 1% 10%;
    background-color: var(--secondary-color);
    color: white;
    
    border-radius: 10px;
}

#overlay > form > button > a {
    color: white; 
    text-decoration: none;
}

#sec1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('../img/splash-main.png');
    background-position: top right;
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 73.42%;
}

#sec1 > article {
    display: flex;
    flex-flow: column wrap;
    margin-left: 5%;
    margin-top: -73.42%;
    margin-bottom: 30%;
}

#sec1 > article > span {
    padding-top: 3vw;
    font-style: normal;
    font-weight: bold;
}

#sec1 > article > span:nth-child(1){
    color: white;
}

#sec1 > article > span:nth-child(2){
    color: black;
}

#wrapper-one {
    display: flex;
    flex-flow: nowrap column;
    align-items: center;
    justify-content: center;
}

#sec2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
}

#sec2 > button {
    /* Overriding presets */
    background-color: var(--secondary-color);
    border: 0;

    /* New button */ 

    padding: 2% 3% 2% 3%;
    color: white;
    width: 40%;
    font-size: 5vw;
    border-radius: 10px;
}

#sec2 > article {
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

#sec2 > #second-article {
    margin-top: 5%;
}

#sec2 > #first-article > span {
    font-size: 10vw;
    text-align: center;
    white-space: pre;
}

#sec2 > #first-article > span:nth-child(1) {
    color: var(--secondary-color);
}

#sec2 > #second-article > span {
    font-size: 5vw;
}

#sec2 > #second-article > span:nth-child(2) {
    color: var(--secondary-color);
}

#sec3 {
    margin-top: 10vw;
}

#sec3 > img {
    width: 85vw;
}

#sec4 {
    margin-top: 15vw;
}

#sec4 > article {
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15vw;
}

#sec4 > article > span {
    margin-top: 2vw;
    font-size: 4vw;
    width: 60%;
    text-align: center;
}

#sec4 > article > img{
    width: 14vw;
    display: flex; 
    flex-flow: wrap column;
}

#sec4 > article:nth-child(1) > img {
    width: 11vw;
}

#sec4 > article > div {
    margin-top: 3vw;
    border-radius: 20px;
    width: 5vw;
    height: 0.5vw;
    background-color: var(--secondary-color);
}

#sec5 {
    display: flex; 
    flex-flow: wrap column;
    align-items: center;

    width: 100%;
    height: auto;
    background-image: url("../img/rectangle-background.png");
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 178.89%;
}

#sec5 > article {
    margin-top: -158%;
    display: flex; 
    flex-flow: nowrap column;
    align-items: center;
    justify-content: center;
}

#sec5 > article > span {
    color: white; 
    font-size: 10vw;
}

#sec5 > article > form {
    margin-top: 20%;
    display: flex; 
    flex-flow: nowrap column;
    color: white;
    font-size: 5.5vw;
}

#sec5 > article > form > input {
    margin-bottom: 5vw;
    border: 0;
    background-color: var(--secondary-color);
    border-bottom: 3px solid white;;
}

#sec5 > article > form > button {
    margin-top: 10vw;
    width: 25%;
    align-self: center;
    
    padding: 1vw;
    border: 0;
    border-radius: 10px;
    background-color: white;
    color: var(--secondary-color);

    font-size: 5vw;
    font-weight: bold;
}

#sec5 > footer {
    color: white;
    font-size: 3vw;
    justify-self: flex-end;
    margin-top: 0;
    margin-bottom: 0;
}

@media screen and (min-width: 1024px) {
    body {
        margin-left: 10vw;
        margin-right: 10vw;
        overflow-x: hidden;
    }

    header > img {
        width: 7vw;
    }

    header > a {
        font-size: 2vw;
    }

    .overlay-in {
        animation-name: show-overlay-desktop;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
    
    .overlay-out {
        animation-name: hide-overlay-desktop;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }

    #overlay { 
        position: absolute;
        background-color: white;
        right: 10%; 
        top: 7vw;
        width: 25%;
        height: 25vw;
        margin-top: -1%;
        z-index: 2;
        box-shadow: 10px 10px 10px #777777;
        border-radius: 30px;
        /* background-color: white; */
    }

    #overlay > form > span {
        font-size: 30%;
    }

    #overlay > form {
        display: flex;
        flex-flow: wrap column;
        font-size: 100%;
        margin: 0% 10% 0% 10%;
    }
    
    #overlay > form > input {
        border: 0; 
        border-bottom: 2px solid black;
        font-size: 30%;
    }
    
    #overlay > form > span{
        margin-top: 5%;
    }
    
    #overlay > form > span:nth-child(1) {
        margin-top: 30%;
    }
    
    #overlay > form > span:nth-child(5){
        text-align: end;
        margin-top: 3%;
        font-size: 30%;
    }
    
    #overlay > form > button {
        align-self: center;
        margin-top: 12.5%;
        border: 0; 

        font-size: 30%;
    
        padding: 1% 10% 1% 10%;
        background-color: var(--secondary-color);
        color: white;
        
        border-radius: 10px;
    }
    

    #sec1 {
        padding-top: 45%;
    }

    #sec1 > article {
        margin-top: -45%;
        font-size: 85%;
        flex-flow: nowrap row;
    }

    #sec1 > article > span {
        font-weight: 400;
    }

    #sec1 > article > span:nth-child(1){
        color: black;
    }

    #sec1 > article > span:nth-child(2){
        margin-left: 1%;
        color: white;
    }

    #wrapper-one {
        display: flex;
        flex-flow: nowrap row-reverse;
        align-items: center;
        justify-content: center;
    }

    #sec2 {
        width: 40%;
        margin-top: 8%;
        padding-left: 10%;
    }

    #sec2 > button {
        font-size: 40%;
    }

    #sec2 > #second-article > span {
        font-size: 30%;
    }

    #sec2 > #first-article > span {
        font-size: 50%;
    }

    #sec3 {
        margin-top: -20%;
    }

    #sec3 > img {
        width: 25vw;
    }

    #sec4 {
        display: flex;
        width: 100%;
        margin-top: 10%;
        margin-bottom: -15%;
    }

    #sec4 > article {
        flex-flow: nowrap column;
        width: 40%;
    }

    #sec4 > article > img {
        width: 6vw;
    }

    #sec4 > article:nth-child(1) > img {
        width: 4vw;
    }

    #sec4 > article > span {
        font-size: 30%;
    }

    #sec4 > article > div {
        margin-top: 1vw;
    }

    #sec5 {
        flex-flow: wrap column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        background-size: cover;
        font-size: 2vw;
        padding-top: 0; 
        height: 70vw;
        background-image: url('../img/rectangle-desktop.png');
    }

    #sec5 > article > span {
        font-size: 3vw;
    }

    #sec5 > article { 
        margin-top: 10%;
    }

    #sec5 > article > form {
        width: 25vw;
        font-size: 1.5vw;
        margin-top: 2vw;
    }

    #sec5 > article > form > button {
        margin-top: 0.5%;
        font-size: 1.2vw;
        padding: 1%;
    }

    #sec5 > footer {
        font-size: 1vw;
        margin-top: 3%;
        margin-bottom: 0;
    }
}